<div class="masterheader">
    <div class="header"> DASHBOARD</div>
    <div class="header2"> BI-RTGS </div>
    <div class="headerLogo" align="center"><img src='assets/picture/bi-putih.png' width="220" height="44"></div>
</div>
<div class="background">
    <div class="rows">
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Statistical Indicator</b>
                        {{interval_2}}
                    </p>
                    <div class="contain1">
                        <p-dataTable class="ui-datatable" id="blueTable" [value]="statisticalIndicatorTable" [responsive]="true" class="ui-datatable">
                            <p-column field="descripsion" header="Summary"></p-column>
                            <p-column field="volume" [style]="{'width': '70px', 'text-align':'right'}" header="Volume">
                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.volume | number}} </div></ng-template>
                            </p-column>
                            <p-column field="amount" [style]="{'width': '150px'}" header="Amount">
                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number}} </div></ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <div class="rows">
                            <div class="subContent-2-3a">
                                <p-chart type="horizontalBar" [data]="totalVolume" [options]='totalVolumeOption' height='140'></p-chart>
                            </div>
                            <div class="subContent-2-3a">
                                <p-chart type="horizontalBar" [data]="totalAmount" [options]='totalAmountOption' height='140'></p-chart>
                            </div>
                        </div>
                </div>
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Supporting Information</b>
                    </p>
                    <b style="font-size: 15px; color:#636363">Error Information</b>
                    <div class="contain" style="height: 110px">
                        <p-dataTable id="blueTable" class="ui-datatable" [value]="errorInformation" [responsive]="true" scrollable="true" class="ui-datatable">
                            <p-column field="time" header="Time"></p-column>
                            <p-column field="code" header="Code"></p-column>
                            <p-column field="description" header="Description"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <p  style="margin-top: 0px; margin-bottom:7px; float: left;">
                        <b>Operational Indicator</b>
                    </p>
                    <p  style="margin-top: 0px; margin-bottom:7px; float: right;">
                        <b>{{today}}</b>
                    </p>
                    <div class="rows">
                        <div class="subContent-1">     
                            <table>
                                <tr>
                                    <td><font size='3'>Business Day</font></td>
                                    <td>:</td>
                                    <td>
                                        <font color='#004fce' size='3'> 
                                            <b>{{businessDay}}</b>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td><font size='3'>Time Extension</font></td>
                                    <td>:</td>
                                    <td>
                                        <font color='#004fce' size='3'> 
                                            <b>{{timeExt}}</b>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="subContent-2">
                            <p style="font-size: 14px; color:#636363; margin-top: 7px;">
                                <b> Connection Status :</b></p>
                            <div class="subContent-2-4" align="left">
                                <table id="table">
                                    <tr>
                                        <td style="font-size:13px;">Connected</td>
                                        <td></td>
                                        <td style="text-align: center;" bgColor="#FF6384">{{connected}}</td>
                                    </tr>
                                    <tr>
                                            <td style="font-size:13px;">Disconnected</td>
                                            <td></td>
                                            <td style="text-align: center;" bgColor="#36A2EB">{{disconnected}}</td>
                                    </tr>
                                    <td rowspan="2"> 
                                        
                                    </td>
                                </table>
                            </div>
                            <div class="subContent-2-5" style="height: 100px">
                                <p-chart type="pie" [data]="connectionStatus" [options]="connectionStatusOption"></p-chart>
                            </div>
                        </div>

                        <div class="subContent-3" align="left">
                            <p style="font-size: 14px; color:#636363; margin-top: 7px;">
                                <b>Disconnected Member :</b>
                            </p>
                            <div class="contain" style="height: 100px">
                                <p-dataTable id="orangeTable" class="ui-datatable" [value]="disconnectedMemberTable" scrollable="true"  class="ui-datatable">
                                    <p-column field="bic" header="BIC"></p-column>
                                    <p-column field="lastConnected" header="Last Connected"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Content" align="left">
                    <p style="margin-top: 0px; color:#636363;  font-size: 15px;">
                        <b>Surrrounding Connection Status</b>
                    </p>
                    <div class="Content" align="center" style="border: 0; height: 225px" >
                        <table>
                            <tr>
                                <td>
                                    <img src='assets/picture/sosa.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSOSA ? connOk : connBad" width="25" height="25">
                                </td>
                                <td rowspan="5">
                                    <img src='assets/picture/allarrow.png' width="45" height="180">
                                </td>
                                <td rowspan="5">
                                    <img src='assets/picture/core-RTGS.png' width="130" height="80">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/hartis.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connHARTIS ? connOk : connBad" width="25" height="25">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/sknbi.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSKNBI ? connOk : connBad" width="25" height="25">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/ssss.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSSSS ? connOk : connBad" width="25" height="25">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/pvp.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connPVP ? connOk : connBad" width="25" height="25">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="Content">
                    <div class="rows">
                        <div class="processingStatus">
                            <table id="table">
                                <tr>
                                    <td>
                                        <b style="font-size: 14px; color:#636363">Processing Status</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" [style.background-color]="processingSpeedColor" height="80">
                                        <b>{{processingSpeed}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" [style.background-color]="processingSpeedColor">
                                        {{processingSpeedStatus}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="subContent-3-2">
                            <table>
                                <b style="font-size: 14px; color:#636363">Server & Replication Status</b>
                            </table>
                            <div class="Content" style="border:0; height: 110px" align="center">
                                <table border="0">
                                    <tr>
                                        <td>
                                            <img src='assets/picture/dr.png' width="50" height="65">
                                        </td>
                                        <td>
                                            <img [src]="activeSystem=='DC' ? arrow1 : arrow2" width="50" height="30">
                                        </td>
                                        <td>
                                            <img src='assets/picture/drc.png' width="50" height="65">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <img [src]="dcStatus ? connOk : connBad" width="20" height="20">
                                        </td>
                                        <td style="font-size:11px; text-align:center">{{replicationTime}}</td>
                                        <td align="center">
                                            <img [src]="drcStatus ? connOk : connBad" width="20" height="20">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Liquidity Indicator</b>
                    </p>
                    <b style="font-size: 14px; color:#636363">Throughput</b>
                    <p-chart type="horizontalBar" [data]="throughputChart" [options]='throughputOption' height='75px'></p-chart>
                </div>
                <div class="Content">
                    <b style="font-size: 14px; color:#636363">Current Queue</b>
                    <div class="rows">
                        <table id="table">
                            <tr>
                                <td colspan="2">
                                    <div class="contain" style="height:80px">
                                                <p-dataTable id="orangeTable" [value]="currentQueue" scrollable="true" class="ui-datatable">
                                                        <p-column field="time" header="Time" ></p-column>
                                                        <p-column field="bic" header="BIC" ></p-column>
                                                        <p-column field="amount" header="Amount" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number}} </div></ng-template>
                                                        </p-column>
                                                </p-dataTable>
                                        </div>
                                </td>
                                <td rowspan="2" width="70px" align="center" bgcolor="#ffa10a">
                                        <span style="color: white; font-size: 40px;">{{currentQueueParticipant}}</span>
                                        <span style="color: white; font-size: 14px;">Member</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="font-size:12px" width="60%">
                                   <b> Total Amount ({{currParam.toUpperCase()}}) : </b>
                                </td>
                                <td align="right" style="font-size:12px">
                                    {{currentQueueTotal | number:'1.0-2'}}
                                </td>
                            </tr>
                                
                        </table>                   
                        
                    </div>
                </div>
                <div class="Content">
                    <b style="font-size: 14px; color:#636363">Turn Over Ratio</b>
                    <p-chart type="horizontalBar" [data]="turnOverRatioChart" [options]="turnOverRatioOption" height='130px'></p-chart>
                </div>
                <div class="Content">
                    <b style="font-size: 14px; color:#636363">Intraday Liquidity Facility</b>
                    <div class="rows">
                        <table id="table">
                            <tr>
                                <td colspan="2">
                                    <div class="contain" style="height: 85px">
                                                <p-dataTable id="orangeTable" [value]="intradayTable" scrollable="true" class="ui-datatable">
                                                        <p-column field="time" header="Time" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div [ngStyle]="{'color': changeColor(data.paidStatus), 'text-align': 'center'}"> {{data.time}} </div></ng-template>
                                                        </p-column>
                                                        <p-column field="bic" header="BIC" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div [ngStyle]="{'color': changeColor(data.paidStatus), 'text-align': 'center'}"> {{data.bic}} </div></ng-template>
                                                        </p-column>
                                                        <p-column field="amount" header="Amount" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div [ngStyle]="{'color': changeColor(data.paidStatus), 'text-align': 'right'}"> {{data.amount | number}} </div></ng-template>
                                                        </p-column>
                                                        <p-column field="paidStatus" [style]="{'width': '75px'}" header="Status" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div [ngStyle]="{'color': changeColor(data.paidStatus), 'text-align': 'center'}"> {{data.paidStatus}} </div></ng-template>
                                                        </p-column>
                                                </p-dataTable>
                                        </div>
                                </td>
                                <td rowspan="3" width="80px" align="center" bgcolor="#ffa10a">
                                        <span style="color: white; font-size: 39px;">{{intradayParticipant}}</span>
                                        <span style="color: white; font-size: 14px;">Member</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="font-size:13px" width="70%">
                                    <b>Total Amount ({{currParam.toUpperCase()}}) :</b>
                                </td>
                                <td align="right" style="font-size:13px">
                                    {{intradayTotal1 | number:'1.0-2'}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="font-size:13px" width="70%">
                                    <b>Total Amount ({{currParam.toUpperCase()}}) :</b>
                                </td>
                                <td align="right" style="font-size:13px" width="70%">
                                    {{intradayTotal2 | number:'1.0-2'}}
                                </td>
                            </tr>
                                
                        </table>                   
                        
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>