<div class="masterheader">
    <div class="header"> Dashboard</div>
    <div class="header2"> SISTEM BI-RTGS </div>
</div>
<div class="background">
    <div class="rows">
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Statistical Indicator</b>
                    </p>
                    <div class="contain1">
                        <p-dataTable class="ui-datatable" id="headerTabel" [value]="statisticalIndicatorTable" [responsive]="true" class="ui-datatable">
                            <p-column field="descripsion" header="Summary"></p-column>
                            <p-column field="volume" [style]="{'width': '70px', 'text-align':'right'}" header="Volume"></p-column>
                            <p-column field="amount" [style]="{'width': '150px'}" header="Amount">
                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount}} </div></ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <div class="rows">
                            <div class="subContent-2-3a">
                                <p-chart type="horizontalBar" [data]="totalVolume" [options]='totalVolumeOption' height='85px'></p-chart>
                            </div>
                            <div class="subContent-2-3a">
                                <p-chart type="horizontalBar" [data]="totalAmount" [options]='totalAmountOption' height='85px'></p-chart>
                            </div>
                        </div>
                </div>
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Supporting Information</b>
                    </p>
                    <u style="font-size: 15px;">Error Information</u>
                    <div class="contain">

                        <p-dataTable id="headerTabel" class="ui-datatable" [value]="errorInformation" [responsive]="true" scrollable="true" class="ui-datatable">
                            <p-column field="code" header="Code"></p-column>
                            <p-column field="description" header="Description"></p-column>
                            <p-column field="time" header="Time"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <div class="rows">
                        <div class="subContent-1">
                            <p style="margin-top: 0px; margin-bottom:0px;">
                                <b>Operational Indicator</b>
                            </p>
                            <table>
                                <tr>
                                    <td style="">Business Day</td>
                                    <td>
                                        <p-message severity="info" text={{businessDay}}></p-message>
                                    </td>
                                    <td>
                                        {{today}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Time Extension</td>
                                    <td>
                                        <p-message severity="info" text={{timeExt}}></p-message>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="subContent-2">
                            <p style="font-size: 15px;"><u> Connection Status:</u></p>
                            <div class="subContent-2-4" align="left">
                                <table>
                                    <tr>
                                        <td style="font-size:13px;">Connected</td>
                                        <td></td>
                                        <td style="text-align: center;" bgColor="#FF6384">{{connected}}</td>
                                    </tr>
                                    <tr>
                                            <td style="font-size:13px;">Disconnected</td>
                                            <td></td>
                                            <td style="text-align: center;" bgColor="#36A2EB">{{disconnected}}</td>
                                    </tr>
                                    <td rowspan="2"> 
                                        
                                    </td>
                                </table>
                            </div>
                            <div class="subContent-2-5">
                                <p-chart type="pie" [data]="connectionStatus" [options]="connectionStatusOption"></p-chart>
                            </div>
                        </div>

                        <div class="subContent-3" align="left">
                            <p style="font-size: 15px;">
                                <u>Disconnected Member :</u>
                            </p>
                            <p-dataTable id="headerTabel" class="ui-datatable" [value]="disconnectedMemberTable" [responsive]="true"  class="ui-datatable">
                                <p-column field="bic" header="BIC"></p-column>
                                <p-column field="lastConnected" header="Last Online"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>

                <div class="Content" align="left">
                    <p style="margin-top: 0px;  font-size: 15px;">
                        <u>Surrrounding Connection Status</u>
                    </p>
                    <div class="Content" align="center" style="border: 0;">
                        <table>
                            <tr>
                                <td>
                                    <img src='assets/picture/sosa.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSOSA ? connOk : connBad" width="15" height="15">
                                </td>
                                <td rowspan="5">
                                    <img src='assets/picture/arrow3.png' width="30" height="180">
                                </td>
                                <td rowspan="5">
                                    <img src='assets/picture/core-RTGS.png' width="130" height="80">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/hartis.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connHARTIS ? connOk : connBad" width="15" height="15">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/sknbi.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSKNBI ? connOk : connBad" width="15" height="15">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/ssss.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connSSSS ? connOk : connBad" width="15" height="15">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src='assets/picture/pvp.png' width="65" height="33">
                                </td>
                                <td>
                                    <img [src]="connPVP ? connOk : connBad" width="15" height="15">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="Content">
                    <div class="rows">
                        <div class="processingStatus">
                            <table id="table">
                                <tr>
                                    <td>
                                        <u style="font-size: 15px;">Processing Status</u>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" [style.background-color]="processingSpeedColor" height="80">
                                        <b>{{processingSpeed}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" [style.background-color]="processingSpeedColor">
                                        {{processingSpeedStatus}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="subContent-3-2">
                            <table>
                                <u style="font-size: 15px;">Server & Replication Status</u>
                            </table>
                            <div class="Content" style="border:0;" align="center">
                                <table border="0">
                                    <tr>
                                        <td>
                                            <img src='assets/picture/server.png' width="50" height="50">
                                        </td>
                                        <td>
                                            <img src='assets/picture/arrow.png' width="50" height="40">
                                        </td>
                                        <td>
                                            <img src='assets/picture/server.png' width="50" height="50">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="columnContent">
                <div class="Content">
                    <p style="margin-top: 0px; margin-bottom:0px;">
                        <b>Liquidity Indicator</b>
                    </p>
                    <u style="font-size: 15px;">Throughput</u>
                    <p-chart type="horizontalBar" [data]="throughputChart" [options]='throughputOption' height='75px'></p-chart>
                </div>
                <div class="Content">
                    <u style="font-size: 15px;">Current Queue</u>
                    <div class="rows">
                        <table id="table">
                            <tr>
                                <td>
                                    <div class="contain">
                                                <p-dataTable [value]="currentQueue" scrollable="true" class="ui-datatable">
                                                        <p-column field="time" header="Time" ></p-column>
                                                        <p-column field="bic" header="BIC" ></p-column>
                                                        <p-column field="amount" header="Amount" ></p-column>
                                                </p-dataTable>
                                        </div>
                                </td>
                                <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                    {{currentQueueParticipant}}
                                    Members
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                  Total Amount (Rp) {{currentQueueTotal}}
                                </td>
                            </tr>
                                
                        </table>                   
                        
                    </div>
                </div>
                <div class="Content">
                    <u style="font-size: 15px;">Turn Over Ratio</u>
                    <p-chart type="horizontalBar" [data]="data" [options]='dataOption'  height='130px'></p-chart>
                </div>
                <div class="Content">
                    <u style="font-size: 15px;">Intraday Liquidity Facility</u>
                    <div class="rows">
                        <table id="table">
                            <tr>
                                <td>
                                    <div class="contain">
                                                <p-dataTable [value]="intradayTable" scrollable="true" class="ui-datatable">
                                                        <p-column field="bic" header="BIC" ></p-column>
                                                        <p-column field="amount" header="Amount" ></p-column>
                                                        <p-column field="paidStatus" [style]="{'width': '75px'}" header="Status" ></p-column>
                                                </p-dataTable>
                                        </div>
                                </td>
                                <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                    {{intradayParticipant}}
                                    Members
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                  Total Amount (Rp) {{intradayTotal1}}
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                  Total Amount (Rp) {{intradayTotal2}}
                                </td>
                            </tr>
                                
                        </table>                   
                        
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>