<div class="masterheader">
  <div class="header"> DASHBOARD</div>
  <div class="header2">BI-SSSS </div>
  <div class="headerLogo" align="center"><img src='assets/picture/bi-putih.png' width="220" height="44"></div>
  </div>
  <div class="background">
      <div class="rows">
              <div class="column">
                  <div class="columnContent">
                      <div class="Content">
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Statistical Indicator</b></p>
                          <div class="contain-fixed">
                              
                              <p-dataTable 
                                  id="blueTable"
                                  [value]="statisticalIndicatorTable"
                                  [responsive]="true"
                                  class="ui-datatable">
                                  <p-column field="descripsion" header="Summary" ></p-column>
                                  <p-column field="volume" [style]="{'width': '70px'}" header="Volume" >
                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.volume | number}} </div></ng-template>
                                  </p-column>
                                  <p-column field="amount" [style]="{'width': '150px'}" header="Amount" >
                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number}} </div></ng-template>
                                  </p-column>
                              </p-dataTable>
                          </div>
                          <div class="rows">
                                <div class="subContent-2-3a">
                                    
                                        <p-chart type="horizontalBar" [data]="totalVolume" [options]="totalVolumeOption" height='140'></p-chart>

                                </div>
                                <div class="subContent-2-3a">
                                        
                                        <p-chart type="horizontalBar" [data]="totalAmount" [options]="totalAmountOption"  height='140'></p-chart>
                                           
                                </div>
                            </div>
                        </div>
                      <div class="Content">
                            <p style="margin-top: 0px; margin-bottom:0px;">
                                    <b>Supporting Information</b>
                                </p>
                            <b style="font-size: 14px; color:#636363">Error Information</b>
                        <div class="contain" style="height: 11vh">
                                <p-dataTable 
                                    id="blueTable"
                                    [value]="errorInformation"
                                    scrollable="true"
                                    class="ui-datatable">
                                    <p-column field="time" header="Time" [style]="{'width': '70px'}"></p-column>
                                    <p-column field="code" header="Code" [style]="{'width': '70px'}" >
                                            <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.code}} </div></ng-template>
                                    </p-column>
                                    <p-column field="description" header="Description" ></p-column>
                                </p-dataTable>
                            </div> 
                    </div>
                  </div>    
              </div>
              <div class="column">
                  <div class="columnContent" >                  
                          <div class="Content">
                                <p  style="margin-top: 0px; margin-bottom:7px; float: left;">
                                        <b>Operational Indicator</b>
                                    </p>
                                    <p  style="margin-top: 0px; margin-bottom:7px; float: right;">
                                        <b>{{today}}</b>
                                    </p>
                              <div class="rows">
                                  <div class="subContent-1">
                                      <table>
                                            <tr>
                                                    <td><font size='3'>Business Day</font></td>
                                                    <td>:</td>
                                                    <td>
                                                        <font color='#004fce' size='3'> 
                                                            <b>{{businessDay}}</b>
                                                        </font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><font size='3'>Time Extension</font></td>
                                                    <td>:</td>
                                                    <td>
                                                        <font color='#004fce' size='3'> 
                                                            <b>{{timeExt}}</b>
                                                        </font>
                                                    </td>
                                                </tr>
                                      </table>
                                  </div>
                                  <div class="subContent-2" align="left">
                                        <p style="font-size: 14px; color:#636363"><b> Connection Status:</b></p>
                                        <div class="subContent-2-4" align="left" id="table">
                                            <table>
                                                <tr>
                                                    <td style="font-size:13px;">Connected</td>
                                                    <td></td>
                                                    <td style="text-align: center;" bgColor="#FF6384">{{connected}}</td>
                                                </tr>
                                                <tr>
                                                        <td style="font-size:13px;">Disconnected</td>
                                                        <td></td>
                                                        <td style="text-align: center;" bgColor="#36A2EB">{{disconnected}}</td>
                                                </tr>
                                                <td rowspan="2"> 
                                                    
                                                </td>
                                            </table>
                                        </div>
                                        <div class="subContent-2-5">
                                            <p-chart type="pie" [data]="connectionStatus" [options]="connectionStatusOption"></p-chart>
                                        </div>
                                  </div>
                                  
                                  <div class="subContent-3" align="left">
                                          <p style="font-size: 14px; color:#636363"><b>Disconnected Member :</b></p>
                                          <div class="contain" style="height: 9,8vh">
                                            <p-dataTable 
                                            id="orangeTable"
                                            [value]="disconnectedMemberTable"
                                            [responsive]="true"
                                            scrollable="true"
                                            class="ui-datatable">
                                            <p-column field="bic" header="BIC" ></p-column>
                                            <p-column field="lastConnected" [style]="{'font-size' :'13px'}" header="Last Connected" ></p-column>
                                            </p-dataTable>
                                          </div>
                                  </div>
                              </div>
                          </div>
                                 
                          <div class="Content" align="left">
                                <p style="margin-top: 0px;  font-size: 14px; color:#636363">
                                        <b>Surrrounding Connection Status</b>
                                    </p>
                          <div class="Content" align="center" style="border: 0; height: 225px">
                            <table>
                              <tr>
                                <td><img src='assets/picture/sosa.png' width="65" height="33"></td>
                                <td><img [src]="connSOSA ? connOk : connBad" width="25" height="25"></td>
                                <td rowspan="5"><img src='assets/picture/allarrow.png' width="45" height="180"></td>
                                <td rowspan="5"><img src='assets/picture/core-SSSS.png' width="130" height="80"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/hartis.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="25" height="25"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/sknbi.png' width="65" height="33"></td>
                                <td><img [src]="connSKNBI ? connOk : connBad" width="25" height="25"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/rtgs.png' width="65" height="33"></td>
                                <td><img [src]="connRTGS ? connOk : connBad" width="25" height="25"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/etp.png' width="65" height="33"></td>
                                <td><img [src]="connETP ? connOk : connBad" width="25" height="25"></td>
                              </tr>
                            </table>
                          </div>
                      </div>   
                      
                      <div class="Content">
                          <div class="rows">
                              <div class="processingStatus">
                                  <table id="table">
                                        <tr>
                                                <td>
                                                    <b style="font-size: 14px; color:#636363">Processing Status</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" [style.background-color]="processingSpeedColor" height="80">
                                                    <b>{{processingSpeed}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" [style.background-color]="processingSpeedColor">
                                                    {{processingSpeedStatus}}
                                                </td>
                                            </tr>
                                  </table>
                              </div>
                              <div class="subContent-3-2">
                                  <table>
                                          <b style="font-size: 14px; color:#636363">Server & Replication Status</b>
                                  </table>
                                  <div class="Content" style="border:0; height:13.5vh" align="center">
                                  <table border="0">

                                      <tr>
                                          <td>
                                              <img src='assets/picture/dr.png' width="50" height="65">
                                          </td>
                                          <td>
                                              <img src='assets/picture/arrow.png' width="50" height="30">
                                          </td>
                                          <td>
                                              <img src='assets/picture/drc.png' width="50" height="65">
                                          </td>
                                      </tr>
                                      <tr>
                                            <td align="center">
                                                <img [src]="dcStatus ? connOk : connBad" width="20" height="20">
                                            </td>
                                            <td style="font-size:11px; text-align:center">{{replicationTime}}</td>
                                            <td align="center">
                                                <img [src]="drcStatus ? connOk : connBad" width="20" height="20">
                                            </td>
                                        </tr>
                                  </table>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      </div>           
              </div>
              <div class="column">
                  <div class="columnContent">
                      <div class="Content-LiquidIndicator-1-S4">
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Liquidity Indicator</b></p>
                          <div class="rows">
                              <p style="margin-top: 0px; margin-bottom:0px; color:#636363"><b>Queue Insufficient Securities :</b></p>
                              <table id="table">
                                  <tr>
                                      <td colspan="2">
                                          <div class="contain" style="height: 9.5vh">
                                                      <p-dataTable id="orangeTable" [value]="queueInsufficientSecurities" scrollable="true" class="ui-datatable">
                                                        <p-column field="bic" header="BIC" ></p-column>
                                                        <p-column field="time" header="Time" [style]="{'width': '90px'}">
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.time}} </div></ng-template>
                                                        </p-column>
                                                        <p-column field="amount" header="Amount" >
                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number:'1.0-2'}} </div></ng-template>
                                                        </p-column>
                                                      </p-dataTable>
                                              </div>
                                      </td>
                                      <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                          <span style="color: white; font-size: 39px;">{{queueInsufficientSecuritiesMember}}</span>
                                          <span style="color: white; font-size: 14px;">Member</span>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td align="right" style="font-size:12px" width="60%">
                                          <b>Total Amount ({{currParam.toUpperCase()}}) :</b>
                                      </td>
                                      <td align="right" style="font-size:12px">
                                            {{queueInsufficientSecuritiesTotal | number:'1.0-2'}}
                                      </td>
                                  </tr>
                                      
                              </table>                   
                              
                          </div>
                      </div>
                      <div class="Content-LiquidIndicator-2-S4">
                              <div class="rows">
                                  <p style="margin-top: 0px; margin-bottom:0px; color:#636363"><b>Queue Insufficient Fund :</b></p>
                                  <table id="table">
                                      <tr>
                                          <td colspan="2">
                                              <div class="contain" style="height: 9.5vh">
                                                          <p-dataTable id="orangeTable" [value]="queueInsufficientFund" scrollable="true" headerCssclass="ui-datatable">
                                                                  <p-column field="bic" header="BIC" ></p-column>
                                                                  <p-column field="time" header="Time" [style]="{'width': '90px'}">
                                                                        <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.time}} </div></ng-template>
                                                                  </p-column>
                                                                  <p-column field="amount" header="Amount" >
                                                                        <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number:'1.0-2'}} </div></ng-template>
                                                                  </p-column>
                                                          </p-dataTable>
                                                  </div>
                                          </td>
                                          <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                              <span style="color: white; font-size: 39px;">{{queueInsufficientFundMember}}</span>
                                              <span style="color: white; font-size: 14px;">Member</span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td align="right" style="font-size:12px" width="60%">
                                                <b>Total Amount ({{currParam.toUpperCase()}}) :</b> 
                                          </td>
                                          <td align="right" style="font-size:12px">
                                                {{queueInsufficientFundTotal | number:'1.0-2'}}
                                          </td>
                                      </tr>
                                          
                                  </table>                   
                                  
                              </div>
                          </div>
                          <div class="Content-LiquidIndicator-3-S4">
                                  <div class="rows">
                                      <p style="margin-top: 0px; margin-bottom:0px; color:#636363"><b>Maturity Securities :</b></p>
                                      <table>
                                          <tr>
                                              <td colspan="2">
                                                  <div class="contain" style="height: 9.5vh">
                                                              <p-dataTable id="orangeTable" [value]="maturitySecurities" scrollable="true" class="ui-datatable">
                                                                <p-column field="instrumentCode" header="Code" ></p-column>
                                                                <p-column field="date" header="Date" [style]="{'width': '90px'}">
                                                                        <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.date}} </div></ng-template>
                                                                </p-column>
                                                                <p-column field="amount" header="Amount" >
                                                                        <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number:'1.0-2'}} </div></ng-template>
                                                                </p-column>
                                                              </p-dataTable>
                                                      </div>
                                              </td>
                                              
                                          </tr>
                                          <tr>
                                              <td align="right" style="font-size:13px" width="70%">
                                                    <b>Total Amount ({{currParam.toUpperCase()}}) :</b> 
                                              </td>
                                              <td align="right" style="font-size:13px">
                                                    {{maturitySecuritiesTotal  | number:'1.0-2'}}
                                              </td>
                                          </tr>
                                              
                                      </table>                   
                                      
                                  </div>
                            </div>
                              <div class="Content-LiquidIndicator-4-S4">
                                      <div class="rows">
                                          <p style="margin-top: 0px; margin-bottom:0px; color:#636363"><b>Coupon Payment :</b></p>
                                          <table>
                                              <tr>
                                                  <td colspan="2">
                                                      <div class="contain" style="height: 9,8vh">
                                                                  <p-dataTable id="orangeTable" [value]="couponPayment" scrollable="true" class="ui-datatable">
                                                                          <p-column field="instrumentCode" header="Code" [style]="{'width': '180px'}"></p-column>
                                                                          <p-column field="date" header="Date" [style]="{'width': '90px'}">
                                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.date}} </div></ng-template>
                                                                          </p-column>
                                                                          <p-column field="amount" header="Amount" >
                                                                                <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount | number:'1.0-2'}} </div></ng-template>
                                                                          </p-column>
                                                                  </p-dataTable>
                                                          </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td align="right" style="font-size:13px" width="70%">
                                                        <b>Total Amount ({{currParam.toUpperCase()}}) : </b> 
                                                  </td>
                                                  <td align="right" style="font-size:13px">
                                                        {{couponPaymentTotal  | number:'1.0-2'}}
                                                  </td>
                                              </tr>
                                                  
                                          </table>                   
                                          
                                      </div>
                                  </div>
                                  <div class="Content">
                                    <p style="margin-top: 0px; margin-bottom:0px; color:#636363"><b>Exchange Rate :</b></p>
                                  <div class="contain">
                                          <p-dataTable 
                                              id="orangeTable"
                                              [value]="exchangeRate"
                                              [responsive]="true"
                                              class="ui-datatable">
                                              <p-column field="currency" header="Currency" [style]="{'width': '70px'}">
                                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.currency}} </div></ng-template>
                                              </p-column>
                                              <p-column field="date" header="Date" [style]="{'width': '100px' }">
                                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: center;"> {{data.date}} </div></ng-template>
                                              </p-column>
                                              <p-column field="kurs" [style]="{'text-align':'center'}" header="Kurs" >
                                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.kurs | number:'1.0-2'}} </div></ng-template>
                                              </p-column>
                                          </p-dataTable>
                                      </div> 
                              </div>
              </div>
  
      </div>
  
  </div>
      