<div class="masterheader">
  <div class="header"> Dashboard</div>
  <div class="header2"> SISTEM BI-SSSS </div>
  </div>
  <div class="background">
      <div class="rows">
              <div class="column">
                  <div class="columnContent">
                      <div class="Content">
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Statistical Indicator</b></p>
                          <div class="contain-fixed">
                              <p-dataTable 
                                  id="headerTabel"
                                  [value]="statisticalIndicatorTable"
                                  [responsive]="true"
                                  class="ui-datatable">
                                  <p-column field="descripsion" header="Summary" ></p-column>
                                  <p-column field="volume" [style]="{'width': '70px', 'text-align':'right'}" header="Volume" ></p-column>
                                  <p-column field="amount" [style]="{'width': '150px'}" header="Amount" >
                                    <ng-template let-col let-data="rowData" pTemplate="body"><div style="text-align: right;"> {{data.amount}} </div></ng-template>
                                  </p-column>
                              </p-dataTable>
                          </div>
                          <div class="rows">
                                <div class="subContent-2-3a">
                                    
                                        <p-chart type="horizontalBar" [data]="totalVolume" [options]="totalVolumeOption" height='70px'></p-chart>

                                </div>
                                <div class="subContent-2-3a">
                                        
                                        <p-chart type="horizontalBar" [data]="totalAmount" [options]="totalAmountOption"  height='70px'></p-chart>
                                           
                                </div>
                            </div>
                        </div>
                      
                      <div class="Content">
                            <p style="margin-top: 0px; margin-bottom:0px;">
                                    <b>Supporting Information</b>
                                </p>
                                <u style="font-size: 15px;">Exchange Rate</u>
                          <div class="contain" style="height:auto;">
                                  <p-dataTable 
                                      id="headerTabel"
                                      [value]="exchangeRate"
                                      [responsive]="true"
                                      class="ui-datatable">
                                      <p-column field="currency" header="Currency" ></p-column>
                                      <p-column field="date" header="Date" ></p-column>
                                      <p-column field="kurs" header="Kurs" ></p-column>
                                  </p-dataTable>
                              </div> 
                      </div>
                      <div class="Content">
                            <u style="font-size: 15px;">Error Information</u>
                        <div class="contain" style="height:auto;">
                                <p-dataTable 
                                    id="headerTabel"
                                    [value]="errorInformation"
                                    [responsive]="true"
                                    class="ui-datatable">
                                    <p-column field="code" header="Code" ></p-column>
                                    <p-column field="description" header="Description" ></p-column>
                                    <p-column field="time" header="Time" ></p-column>
                                </p-dataTable>
                            </div> 
                    </div>
                  </div>    
              </div>
              <div class="column">
                  <div class="columnContent" >                  
                          <div class="Content">
                              <div class="rows">
                                  <div class="subContent-1">
                                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Operational Indicator</b></p>
                                      <table>
                                            <tr>
                                                    <td style="">Business Day</td>
                                                    <td>
                                                        <p-message severity="info" text={{businessDay}}></p-message>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Time Extension</td>
                                                    <td>
                                                        <p-message severity="info" text={{timeExt}}></p-message>
                                                    </td>
                                                </tr>
                                      </table>
                                  </div>
                                  <div class="subContent-2" align="left">
                                        <p style="font-size: 15px;"><u> Connection Status:</u></p>
                                        <div class="subContent-2-4" align="left">
                                            <table>
                                                <tr>
                                                    <td style="font-size:13px;">Connected</td>
                                                    <td></td>
                                                    <td style="text-align: center;" bgColor="#FF6384">{{connected}}</td>
                                                </tr>
                                                <tr>
                                                        <td style="font-size:13px;">Disconnected</td>
                                                        <td></td>
                                                        <td style="text-align: center;" bgColor="#36A2EB">{{disconnected}}</td>
                                                </tr>
                                                <td rowspan="2"> 
                                                    
                                                </td>
                                            </table>
                                        </div>
                                        <div class="subContent-2-5">
                                            <p-chart type="pie" [data]="connectionStatus" [options]="connectionStatusOption"></p-chart>
                                        </div>
                                  </div>
                                  
                                  <div class="subContent-3" align="left">
                                          <p style="font-size: 15px;"><u>Disconnected Member :</u></p>
                                          <p-dataTable 
                                          id="headerTabel"
                                          [value]="disconnectedMemberTable"
                                          [responsive]="true"
                                          tableStyleClass="prime-table"
                                          class="ui-datatable">
                                          <p-column field="bic" header="BIC" ></p-column>
                                          <p-column field="lastConnected" header="Last Online" ></p-column>
                                      </p-dataTable>
                                          <p-dialog id="isiTabel" header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                                              <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="year">Year</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
                                                  </div>
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
                                                  </div>
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="color">Color</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
                                                  </div>
                                              </div>
                                          </p-dialog>
                                  </div>
                              </div>
                          </div>
                                 
                          <div class="Content" align="left">
                                <p style="margin-top: 0px;  font-size: 15px;">
                                        <u>Surrrounding Connection Status</u>
                                    </p>
                          <div class="Content" align="center" style="border: 0;">
                            <table>
                              <tr>
                                <td><img src='assets/picture/sosa.png' width="65" height="33"></td>
                                <td><img [src]="connSOSA ? connOk : connBad" width="15" height="15"></td>
                                <td rowspan="5"><img src='assets/picture/arrow3.png' width="30" height="180"></td>
                                <td rowspan="5"><img src='assets/picture/core-SSSS.png' width="130" height="80"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/hartis.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/sknbi.png' width="65" height="33"></td>
                                <td><img [src]="connSKNBI ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/rtgs.png' width="65" height="33"></td>
                                <td><img [src]="connRTGS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/etp.png' width="65" height="33"></td>
                                <td><img [src]="connETP ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                            </table>
                          </div>
                      </div>   
                      
                      <div class="Content">
                          <div class="rows">
                              <div class="processingStatus">
                                  <table id="table">
                                        <tr>
                                                <td>
                                                    <u style="font-size: 15px;">Processing Status</u>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" [style.background-color]="processingSpeedColor" height="80">
                                                    <b>{{processingSpeed}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" [style.background-color]="processingSpeedColor">
                                                    {{processingSpeedStatus}}
                                                </td>
                                            </tr>
                                  </table>
                              </div>
                              <div class="subContent-3-2">
                                  <table>
                                          <u>Server & Replication Status</u>
                                  </table>
                                  <div class="Content" style="border:0;" align="center">
                                  <table border="0">
                                      <tr>
                                          <td>
                                              <img src='assets/picture/server.png' width="50" height="50">
                                          </td>
                                          <td>
                                              <img src='assets/picture/arrow.png' width="50" height="40">
                                          </td>
                                          <td>
                                              <img src='assets/picture/server.png' width="50" height="50">
                                          </td>
                                      </tr>
                                  </table>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      </div>           
              </div>
              <div class="column">
                  <div class="columnContent">
                      <div class="Content-LiquidIndicator-1-S4">
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Liquidity  Indicator</b></p>
                          <div class="rows">
                              <p style="margin-top: 0px;"><u>Queue Insufficient Securities :</u></p>
                              <table id="table">
                                  <tr>
                                      <td>
                                          <div class="contain">
                                                      <p-dataTable [value]="cars" scrollable="true" class="ui-datatable">
                                                              <p-column field="year" header="Year" ></p-column>
                                                              <p-column field="brand" header="Brand" ></p-column>
                                                              <p-column field="color" header="Color" ></p-column>
                                                      </p-dataTable>
                                              </div>
                                      </td>
                                      <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                          3
                                      </td>
                                  </tr>
                                  <tr>
                                      <td align="right">
                                          Total Amount (Rp) [Total]
                                      </td>
                                  </tr>
                                      
                              </table>                   
                              
                          </div>
                      </div>
                      <div class="Content-LiquidIndicator-2-S4">
                              <div class="rows">
                                  <p style="margin-top: 0px;"><u>Queue Insufficient Fund :</u></p>
                                  <table id="table">
                                      <tr>
                                          <td>
                                              <div class="contain">
                                                          <p-dataTable [value]="cars" scrollable="true" class="ui-datatable">
                                                                  <p-column field="year" header="Year" ></p-column>
                                                                  <p-column field="brand" header="Brand" ></p-column>
                                                                  <p-column field="color" header="Color" ></p-column>
                                                          </p-dataTable>
                                                  </div>
                                          </td>
                                          <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                              3
                                          </td>
                                      </tr>
                                      <tr>
                                          <td align="right">
                                            Total Amount (Rp) [Total]
                                          </td>
                                      </tr>
                                          
                                  </table>                   
                                  
                              </div>
                          </div>
                          <div class="Content-LiquidIndicator-3-S4">
                                  <div class="rows">
                                      <p style="margin-top: 0px;"><u>Maturity Securities :</u></p>
                                      <table>
                                          <tr>
                                              <td>
                                                  <div class="contain">
                                                              <p-dataTable [value]="cars"scrollable="true" class="ui-datatable">
                                                                      <p-column field="year" header="Year" ></p-column>
                                                                      <p-column field="brand" header="Brand" ></p-column>
                                                                      <p-column field="color" header="Color" ></p-column>
                                                              </p-dataTable>
                                                      </div>
                                              </td>
                                              
                                          </tr>
                                          <tr>
                                              <td align="right">
                                                    Total Amount (Rp) [Total]
                                              </td>
                                          </tr>
                                              
                                      </table>                   
                                      
                                  </div>
                              </div>
                              <div class="Content-LiquidIndicator-4-S4">
                                      <div class="rows">
                                          <p style="margin-top: 0px;"><u>Coupon Payment :</u></p>
                                          <table>
                                              <tr>
                                                  <td>
                                                      <div class="contain">
                                                                  <p-dataTable [value]="cars" scrollable="true" class="ui-datatable">
                                                                          <p-column field="year" header="Year" ></p-column>
                                                                          <p-column field="brand" header="Brand" ></p-column>
                                                                          <p-column field="color" header="Color" ></p-column>
                                                                  </p-dataTable>
                                                          </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td align="right">
                                                        Total Amount (Rp) [Total]
                                                  </td>
                                              </tr>
                                                  
                                          </table>                   
                                          
                                      </div>
                                  </div>
              </div>
  
      </div>
  
  </div>
      