<div class="masterheader">
  <div class="header"> Dashboard</div>
  <div class="header2"> SISTEM BI-SSSS </div>
  </div>
  <div class="background">
      <div class="rows">
              <div class="column">
                  <div class="columnContent">
                      <div class="Content">
                          
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Statistical Indicator</b></p>
                          <br/>
                          <div class="contain1">
                              <p-dataTable 
                                  id="headerTabel"
                                  [value]="total"
                                  [responsive]="true">
                                  <p-column field="summary" header="Summary" ></p-column>
                                  <p-column field="volume" header="Volume" ></p-column>
                                  <p-column field="amount" header="Amount" >
                                          <template let-col let-data="rowData" pTemplate="body">
                                              {{data.amount | currency: 'EUR' : true}}
                                          </template>
                                  </p-column>
                              </p-dataTable>
                          </div>
                          </div>
                          <div class="Content" >
                              <div class="rows">
                                  <div class="subContent-2-3">
                                      
                                          <p-chart type="horizontalBar" [data]="data3"></p-chart>
  
                                  </div>
                                  <div class="subContent-2-3">
                                          
                                          <p-chart type="horizontalBar" [data]="data3"></p-chart>
                                             
                                  </div>
                              </div>
  
                          </div>
                      
                      <div class="Content">
                        <p style="margin-top: 0px; margin-bottom: 0px;"><u>Supporting Information :</u></p>
                          <div class="contain" style="height:auto;">
                                  <p-dataTable 
                                      id="headerTabel"
                                      [value]="cars2"
                                      [responsive]="true">
                                      <p-column field="year" header="Year" ></p-column>
                                      <p-column field="brand" header="Brand" ></p-column>
                                      <p-column field="color" header="Color" ></p-column>
                                  </p-dataTable>
                              </div> 
                      </div>
                      <div class="Content">
                        <div class="contain" style="height:auto;">
                                <p-dataTable 
                                    id="headerTabel"
                                    [value]="cars2"
                                    [responsive]="true">
                                    <p-column field="year" header="Year" ></p-column>
                                    <p-column field="brand" header="Brand" ></p-column>
                                    <p-column field="color" header="Color" ></p-column>
                                </p-dataTable>
                            </div> 
                    </div>
                  </div>    
              </div>
              <div class="column">
                  <div class="columnContent" >                  
                          <div class="Content">
                              <div class="rows">
                                  <div class="subContent-1">
                                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Operational Indicator</b></p>
                                      <table>
                                            <tr>
                                                    <td style="">Business Day</td>
                                                    <td>
                                                        <p-message severity="info" text={{businessDay}}></p-message>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Time Extension</td>
                                                    <td>
                                                        <p-message severity="info" text={{timeExt}}></p-message>
                                                    </td>
                                                </tr>
                                      </table>
                                  </div>
                                  <div class="subContent-2" align="left">
                                          <p><u> Connection Status:</u></p>
                                          <p-chart type="doughnut" [data]="data2"></p-chart>
                                  </div>
                                  
                                  <div class="subContent-3" align="left">
                                          <p><u>Disconnected Member :</u></p>
                                          <p-dataTable 
                                          id="headerTabel"
                                          [value]="cars2"
                                          [responsive]="true"
                                          tableStyleClass="prime-table">
                                          <p-column field="year" header="Year" ></p-column>
                                          <p-column field="brand" header="Brand" ></p-column>
                                          <p-column field="color" header="Color" ></p-column>
                                      </p-dataTable>
                                          <p-dialog id="isiTabel" header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                                              <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="year">Year</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
                                                  </div>
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
                                                  </div>
                                                  <div class="ui-grid-row">
                                                      <div class="ui-grid-col-4"><label for="color">Color</label></div>
                                                      <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
                                                  </div>
                                              </div>
                                          </p-dialog>
                                  </div>
                              </div>
                          </div>
                                 
                          <div class="Content" align="left">
                              <p style="margin-top: 0px;"><u>Surrrounding Connection Status</u></p>
                          <div class="Content" align="center" style="border: 0;">
                            <table>
                              <tr>
                                <td><img src='assets/picture/sosa.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                                <td rowspan="5"><img src='assets/picture/arrow2.png' width="40" height="130"></td>
                                <td rowspan="5"><img src='assets/picture/core-SSSS.png' width="130" height="80"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/hartis.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/sknbi.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/rtgs.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                              <tr>
                                <td><img src='assets/picture/etp.png' width="65" height="33"></td>
                                <td><img [src]="connHARTIS ? connOk : connBad" width="15" height="15"></td>
                              </tr>
                            </table>
                          </div>
                      </div>   
                      
                      <div class="Content">
                          <div class="rows">
                              <div class="processingStatus">
                                  <table>
                                      <tr>
                                          <td>
                                              <u>Processing Status</u>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td align="center" bgcolor="#aaffbf" height="80">
                                              <b>0.051 ms</b>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td align="center" bgcolor="#37fc68">
                                              Normal
                                          </td>
                                      </tr>
                                  </table>
                              </div>
                              <div class="subContent-3-2">
                                  <table>
                                          <u>Server & Replication Status</u>
                                  </table>
                                  <div class="Content" style="border:0;" align="center">
                                  <table border="0">
                                      <tr>
                                          <td>
                                              <img src='assets/picture/server.png' width="50" height="50">
                                          </td>
                                          <td>
                                              <img src='assets/picture/arrow.png' width="50" height="40">
                                          </td>
                                          <td>
                                              <img src='assets/picture/server.png' width="50" height="50">
                                          </td>
                                      </tr>
                                  </table>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      </div>           
              </div>
              <div class="column">
                  <div class="columnContent">
                      <div class="Content-LiquidIndicator-1-S4">
                          <p style="margin-top: 0px; margin-bottom:0px;"><b>Liquidity  Indicator</b></p>
                          <div class="rows">
                              <p style="margin-top: 0px;"><u>Queue Insufficient Securities :</u></p>
                              <table>
                                  <tr>
                                      <td>
                                          <div class="contain">
                                                      <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [responsive]="true">
                                                              <p-column field="year" header="Year" ></p-column>
                                                              <p-column field="brand" header="Brand" ></p-column>
                                                              <p-column field="color" header="Color" ></p-column>
                                                      </p-dataTable>
                                              </div>
                                      </td>
                                      <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                          3
                                      </td>
                                  </tr>
                                  <tr>
                                      <td align="right">
                                          [Total]
                                      </td>
                                  </tr>
                                      
                              </table>                   
                              
                          </div>
                      </div>
                      <div class="Content-LiquidIndicator-2-S4">
                              <div class="rows">
                                  <p style="margin-top: 0px;"><u>Queue Insufficient Fund :</u></p>
                                  <table>
                                      <tr>
                                          <td>
                                              <div class="contain">
                                                          <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [responsive]="true">
                                                                  <p-column field="year" header="Year" ></p-column>
                                                                  <p-column field="brand" header="Brand" ></p-column>
                                                                  <p-column field="color" header="Color" ></p-column>
                                                          </p-dataTable>
                                                  </div>
                                          </td>
                                          <td rowspan="2" width="80px" align="center" bgcolor="#ffa10a">
                                              3
                                          </td>
                                      </tr>
                                      <tr>
                                          <td align="right">
                                              [Total]
                                          </td>
                                      </tr>
                                          
                                  </table>                   
                                  
                              </div>
                          </div>
                          <div class="Content-LiquidIndicator-3-S4">
                                  <div class="rows">
                                      <p style="margin-top: 0px;"><u>Maturity Securities :</u></p>
                                      <table>
                                          <tr>
                                              <td>
                                                  <div class="contain">
                                                              <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [responsive]="true">
                                                                      <p-column field="year" header="Year" ></p-column>
                                                                      <p-column field="brand" header="Brand" ></p-column>
                                                                      <p-column field="color" header="Color" ></p-column>
                                                              </p-dataTable>
                                                      </div>
                                              </td>
                                              
                                          </tr>
                                          <tr>
                                              <td align="right">
                                                  [Total]
                                              </td>
                                          </tr>
                                              
                                      </table>                   
                                      
                                  </div>
                              </div>
                              <div class="Content-LiquidIndicator-4-S4">
                                      <div class="rows">
                                          <p style="margin-top: 0px;"><u>Coupon Payment :</u></p>
                                          <table>
                                              <tr>
                                                  <td>
                                                      <div class="contain">
                                                                  <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [responsive]="true">
                                                                          <p-column field="year" header="Year" ></p-column>
                                                                          <p-column field="brand" header="Brand" ></p-column>
                                                                          <p-column field="color" header="Color" ></p-column>
                                                                  </p-dataTable>
                                                          </div>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td align="right">
                                                      [Total]
                                                  </td>
                                              </tr>
                                                  
                                          </table>                   
                                          
                                      </div>
                                  </div>
              </div>
  
      </div>
  
  </div>
      